@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

.wrapper {
  overflow: hidden;
  min-height: 100%; }

.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0px auto; }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column; }

.main-screen {
  flex: 1 0 100%;
  position: relative; }

.main-screen__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 35px;
  left: 0px; }

.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px; }

.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 50;
  display: block;
  margin: 0px 0px 0px -48px; }

@media (max-width: 767px) {
  .header__logo {
    top: 0px; } }

.icon-menu {
  display: none; }

@media (max-width: 767px) {
  body.lock {
    overflow: hidden; }
  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    position: absolute;
    z-index: 50;
    top: 33px;
    right: 10px;
    cursor: pointer; }
  .icon-menu span {
    position: absolute;
    background-color: #4d4959;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s; }
  .icon-menu:before,
  .icon-menu:after {
    content: '';
    position: absolute;
    background-color: #4d4959;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s; }
  .icon-menu:before {
    top: 0; }
  .icon-menu:after {
    bottom: 0; }
  .icon-menu.active span {
    transform: scale(0); }
  .icon-menu.active:before {
    transform: rotate(44deg);
    top: 7px;
    background-color: #fff; }
  .icon-menu.active:after {
    transform: rotate(-45deg);
    bottom: 10px;
    background-color: #fff; } }

.menu__list {
  display: flex; }

.menu__list li {
  position: relative;
  z-index: 0;
  padding: 0px 37.5px; }
  .menu__list li:nth-child(2) {
    padding: 0px 110px 0px 37.5px; }
  .menu__list li:nth-child(3) {
    padding: 0px 37.5px 0px 110px; }
  .menu__list li:after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #4d4959;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 90%;
    margin: -1px 0px 0px 0px; }
  .menu__list li:nth-child(2):after, .menu__list li:last-child:after {
    display: none; }

.menu__link {
  font-family: 'Lato';
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: #4d4959; }

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0px 20px 0px;
    transition: all 0.3s ease 0s; }
  .menu__body.active {
    top: 0; }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .menu__list li {
      padding: 0px 0px 45px 0px; }
      .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
        padding: 0px  0px 45px 0px; }
        .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
          display: block; }
      .menu__list li:last-child {
        padding: 0; }
      .menu__list li:after {
        width: 4px;
        height: 4px;
        background-color: #fff;
        right: 50%;
        top: 60%;
        margin: 0px -2px 0px 0px; }
  .menu__link {
    color: #fff;
    font-size: 20px; } }

.vintage {
  padding: 120px 0px;
  background-color: #f7f7f7;
  position: relative;
  z-index: 60; }

@media (max-width: 900px) {
  .vintage__block {
    padding: 80px 0px; } }

@media (max-width: 600px) {
  .vintage__block {
    padding: 30px 0px; } }

.block {
  text-align: center; }

.block__icon {
  margin: 0px 0px 30px 0px; }

.block__title {
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  color: #353738;
  line-height: 24px;
  margin: 0px 0px 18px 0px; }

.block__text {
  font-family: 'Lato';
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789; }

.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px; }
  .block__text_j:after {
    content: '';
    width: 50px;
    height: 1px;
    background-color: rgba(53, 55, 56, 0.2);
    display: block;
    margin: 35px auto 0 auto; }

@media (max-width: 1500px) {
  .block__text .block__text_j:after {
    margin: 15px auto 0 auto; } }

.brands_rev .brands__column {
  order: 1; }

.brands_rev .brands__column_b {
  order: 2; }

.brands__row {
  display: flex; }

.brands__column {
  flex: 0 1 33.333%; }

.brands__column_b {
  flex: 0 1 67.667%; }

.item {
  height: 100%;
  display: block;
  position: relative; }
  .item:hover .item__logo {
    opacity: 0.7;
    visibility: visible; }

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 120;
  background-color: rgba(100, 194, 158, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s; }
  .item__logo span {
    font-family: 'Lato';
    font-size: 14px;
    margin: 10px 0px 0px 0px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    color: #ffffff; }

.item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

@media (max-width: 1100px) {
  .item {
    position: relative;
    z-index: 100;
    height: auto;
    padding: 0px 0px 70% 0px; } }

.brands__content {
  padding: 75px 65px 55px 65px;
  position: relative;
  z-index: 100;
  background-color: #fff; }
  .brands__content:after {
    content: '';
    position: absolute;
    z-index: 100;
    bottom: -10px;
    left: 50%;
    margin: 0px 0px 0px -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff; }

.brands__img {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 30px 35px; } }

@media (max-width: 1100px) {
  .brands_last .brands__column:nth-child(1) {
    order: 2; }
  .brands_last .brands__column:nth-child(2) {
    order: 1; }
  .brands_last .brands__column:nth-child(3) {
    order: 3; }
  .brands__row {
    position: relative;
    z-index: 100;
    flex-direction: column; } }

.aod {
  position: relative;
  z-index: 100;
  background-color: #f7f7f7;
  padding: 120px 0px 60px 0px; }

.aod__content .slick-arrow {
  font-size: 0; }

.aod__content .slick-dots {
  padding: 100px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center; }

.aod__content .slick-dots li {
  list-style: none;
  margin: 0px 10px; }

.aod__content .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid  #c8c8c8; }

.aod__content .slick-dots li.slick-active button {
  background-color: #a9afb3;
  width: 10px;
  height: 10px; }

.aod__item {
  text-align: center; }

.aod__icon {
  margin: 0px 0px 35px 0px; }

.aod__title {
  margin: 0px 0px 20px 0px;
  font-family: 'Lato';
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738; }
  .aod__title span {
    font-weight: 300;
    color: #848789; }

.aod__text {
  font-family: 'Lato';
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789; }

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start; }

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.shop__body {
  display: flex; }

.shop__column {
  flex: 0 1 16.666%; }

.shop__column_b {
  flex: 0 1 33.333%; }

@media (max-width: 1100px) {
  .shop__body {
    flex-wrap: wrap; }
  .shop__column {
    flex: 0 1 50%; }
    .shop__column:first-child {
      flex: 1 1 100%; }
    .shop__column:last-child {
      flex: 1 1 100%; } }

.block-shop {
  height: 100%; }

.block-shop__row {
  display: flex; }

.block-shop__column {
  flex: 0 1 50%; }

.block-shop__item {
  height: auto;
  padding: 0px 0px 50% 0px; }

.block-shop__item_b {
  padding: 0px 0px 200.5% 0px; }

.block-shop__item_l {
  padding: 0px 0px 100% 0px; }

.shop__footer {
  position: relative;
  z-index: 100;
  padding: 75px 0px;
  text-align: center;
  background-color: #282f35; }

.shop__btn {
  font-family: 'Lato';
  font-size: 14px;
  letter-spacing: 2.8px;
  font-weight: 700;
  padding: 0px 20px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  height: 50px;
  line-height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.49); }

@media (max-width: 1100px) {
  .shop__footer {
    padding: 50px 0px; }
  .shop__btn {
    padding: 0px 30px; } }

.subscribe__body {
  padding: 110px 0px;
  max-width: 534px;
  margin: 0px auto;
  text-align: center; }

.subscribe__logo {
  margin: 0px 0px 39px 0px; }

.subscribe__lable {
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin: 0px 0px 35px 0px; }

.subscribe__form {
  display: flex; }

.subscribe__input {
  padding: 0px 8px 0px 0px;
  flex: 1 1 auto; }
  .subscribe__input .input {
    width: 100%;
    height: 69px;
    border: 1px solid #d3d7d9;
    background-color: #fff;
    font-family: 'Lato';
    padding: 0px 28px;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #929292; }

.subscribe__button {
  flex: 0 0 126px; }

.subscribe__btn {
  width: 100%;
  height: 69px;
  line-height: 69px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #64c29e; }

@media (max-width: 750px) {
  .subscribe__body {
    padding: 50px 0px; } }

@media (max-width: 500px) {
  .subscribe__form {
    display: block; }
  .subscribe__input {
    padding: 0px 0px 8px 0px; } }

.footer {
  background-color: #f7f7f7; }

.footer__row {
  display: flex;
  padding: 100px 0px;
  align-items: center; }

.footer__column {
  flex: 0 1 33.333%; }

.footer__address {
  color: #848789;
  font-size: 14px;
  line-height: 18px; }
  .footer__address p:first-child {
    font-weight: 700; }

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center; }

.social__link {
  margin: 0px 7.5px; }

.dev {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.dev__text {
  font-family: 'Lato';
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  padding: 0px 8px 0px 0px; }

@media (max-width: 1100px) {
  .footer {
    padding: 50px 0px; } }

@media (max-width: 600px) {
  .footer {
    padding: 30px 0px; }
  .footer__row {
    flex-direction: column;
    text-align: center; }
  .footer__social {
    margin: 15px 0px; }
  .footer__address {
    padding: 0; } }
